.container {
    height: 100vh;
    padding: 15px;
    background-color: #ccc;
}

.header {
    display: flex;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header input {
    width: 350px;
    margin-right: 20px;
}

.container button {
    color: #657275;

}

.container button:last-child {
    margin-left: 5px;

}

.list {
    width: 90%;
    margin: auto auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list th {
    color: #007BFF !important;
    font-weight: 800 !important;
}

.list td {
    color: #657275 !important;
    font-weight: 400 !important;
}

.pagination {
    margin-top: -1px !important;
    padding: 5px;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

@media (max-width: 1219px) {
    .container button:not(:first-child) {
        margin-left: 0px;
        margin-top: 5px;
    }
}

@media (max-width: 800px) {
    .list td {
        font-size: 12px;
    }
}