.container .formField label {
    color: #007FFF;
    font-weight: 400;
}

.container .formField input {
    margin-bottom: 10px;
}

.container input::placeholder {
    color: #657275;
    font-weight: 400;
}